<div class="quizz-container">
        <h3 class="question-text">{{question.value.text}}</h3>

        <div *ngFor="let case of question.value.answers"
             class="line"><input type="radio"
                       id="val"
                       name="variant"
                       value="case">
                <label for="val">{{case}}</label>
        </div>

        <div class="button-block">
                <button mat-stroked-button
                        class="button prew"
                        color="primary"
                        (click)="onMoveToPrevClick()"
                        [disabled]="isPrevButtonDisabled"> &lt;&lt;Prew </button>
                <button mat-raised-button
                        color="primary"
                        (click)="onSubmitQuestion()">Submit</button>
                <button mat-stroked-button
                        class="button next"
                        color="primary"
                        (click)="onMoveToNextClick()"
                        [disabled]="isNextButtonDisabled">Next&gt;&gt;</button>
        </div>

</div>