<div class="quizz-container">
    <h3 class="question-text">Blabla</h3>
    <div class="line"><input id="val-1"
               type="radio"
               name="variant"
               value="a">
        <label for="val-1">Aaa</label>
    </div>
    <div class="line"><input id="val-2"
               type="radio"
               name="variant"
               value="b">
        <label for="val-2">bbb</label>
    </div>
    <div class="line"><input id="val-3"
               type="radio"
               name="variant"
               value="c">
        <label for="val-3">ccc</label>
    </div>
    <div class="line"><input id="val-4"
               type="radio"
               name="variant"
               value="d">
        <label for="val-4">ddd</label>
    </div>
    <div class="button-block">
        <button mat-stroked-button
                class="button prew"
                color="primary"> &lt;&lt;Prew </button>
        <button mat-raised-button
                color="primary">Submit</button>
        <button mat-stroked-button
                class="button next"
                color="primary">Next&gt;&gt;</button>
    </div>

</div>